<?xml version="1.0" encoding="utf-8" ?>
<WFToolboxConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                 xmlns="http://jams.mvpsi.com/v1">
  <Categories>
    <ToolboxCategoryConfig
        Name="JAMS AWS"
        PSModuleName="JAMSAWS">
    </ToolboxCategoryConfig>
  </Categories>
</WFToolboxConfig>